{% for risposta in risposte %}
    <div class="d-flex flex-row mb-1 pe-3">
        {% if risposta.corretta %}
            <div class="text-success">
                <i class="bi-check-circle-fill"></i>
            </div>
            <div class="ps-2 text-success">
                {% autoescape off %}{{ risposta.testo }}{% endautoescape %}
            </div>
        {% elif selected_answer == risposta.pk %}
            <div class="text-danger">
                <i class="bi-x-circle-fill"></i>
            </div>
            <div class="ps-2 text-danger">
                {% autoescape off %}{{ risposta.testo }}{% endautoescape %}
            </div>
        {% else %}
            <div class="text-lightest-grey">
                <i class="bi-circle"></i>
            </div>
            <div class="ps-2">
                {% autoescape off %}{{ risposta.testo }}{% endautoescape %}
            </div>
        {% endif %}
    </div>
{% endfor %}