{% extends "studyquiz/layout.html" %}
{% block title %}
Exam "{{ exam.nome }}"
{% endblock %}
{% block content %}
{% load utility %}
{% load static %}
<div class="px-4 py-5 my-lg-5 text-left">
  <div class="text-center mb-5">
    <p class="lead">Exam </p>
    <h2>{{ exam.nome }}</h2>
  </div>
  <div class="col-lg-8 mx-auto">
    {% if formset.forms %}
    <form action="{% url 'send_exam' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" value="{{ exam.pk }}" name="exam" />
      {{ formset.management_form }}
      <ol>
        {% for form in formset %}
        <li class="mt-3"><strong>{{ form.instance.domanda }}:</strong></li>
        {% if form.instance.image and form.instance.image.strip %}
        <div class="text-center my-3 pe-3">
          <img src="{{ form.instance.image }}" class="img-fluid" />
        </div>
        {% endif %}
        <input type="hidden" name="{{ form.prefix }}-_id" value="{{ form.instance.pk }}" id="id_{{ form.prefix }}-_id">
        {% for field in form %}
        {% if field.is_hidden %}
        {{ field }}
        {% else %}
        {% for input in field.subwidgets %}
        <div class="form-check mb-1 pe-3">
          <input class="form-check-input" type="{{ input.data.type }}" name="{{ input.data.name }}" value="{{ input.data.value }}" id="{{ input.id_for_label }}" {% if input.data.selected %} checked {% endif %} />
          <label class="form-check-label" for="{{ input.id_for_label }}">
            {{ input.choice_label }}
          </label>
        </div>
        {% endfor %}
        {{ field.errors }}
        {% endif %}
        {% endfor %}
        {% endfor %}
      </ol>

      <div class="d-flex justify-content-center">
        <div class="me-auto">
          <a href="{% url 'home' %}" class="btn btn-outline-primary">Go back</a>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Finish</button>
        </div>
      </div>

    </form>
    {% else %}
    <div class="alert alert-danger" role="alert">
      No questions found!
    </div>
    <div class="text-center">
      <a href="{% url 'home' %}" class="btn btn-outline-primary">Go back</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}